header {
    padding: 10px 0;
    text-align: right;
}

h1 {
    font-size: 2.2em;
}

@media(min-width:768px) {
    h1 {
        font-size: 3.2em;
    }
}

.book-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

img {
    max-width: 100%;
}

.book-item {
    padding: 15px 0;
    border-bottom: solid 1px #ccc;
}

@media(min-width:768px) {
    .book-item {
        display: flex;
    }
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0 15px;
    }
    .col-md-10 {
        flex: 0 0 80%;
        max-width: 80%;
        padding: 0 15px;
    }
}

.flex-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;
}

.flex-btn a {
    margin-left: 10px;
}