<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>図書検索エンジン</title>
</head>

<body>
    <header class="teal cyan lighten-3 z-depth-2">
        <div class="container">
            <a class="waves-effect waves-light btn-large" href="/">検索</a>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="grey-text">書籍詳細</h1>
            <div class="card-panel">
                <div class="book-item">
                    <div class="col-md-2">
                        <div class="book-img">
                            <img src="https://iss.ndl.go.jp/thumbnail/{{ isbn }}" onerror="this.onerror=null;this.src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSA4LjVjMC0uODI4LjY3Mi0xLjUgMS41LTEuNXMxLjUuNjcyIDEuNSAxLjVjMCAuODI5LS42NzIgMS41LTEuNSAxLjVzLTEuNS0uNjcxLTEuNS0xLjV6bTkgLjVsLTIuNTE5IDQtMi40ODEtMS45Ni00IDUuOTZoMTRsLTUtOHptOC00djE0aC0yMHYtMTRoMjB6bTItMmgtMjR2MThoMjR2LTE4eiIvPjwvc3ZnPg==';">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h5>{{ title }}</h5>
                        {% for detail in data %} {% for k,d in detail.items() %}
                        <div>{{ k }}：{{ d }}</div>
                        {% endfor %} {% endfor %}
                    </div>
                </div>
            </div>
            <div class="back-btn">
                <button onclick="history.back()" class="waves-effect waves-light btn-large">戻る</button>
                <a href="https://www.amazon.co.jp/s?k={{ url }}&i=digital-text&__mk_ja_JP=カタカナ&ref=nb_sb_noss_1" class="waves-effect waves-light btn-large orange">amazonで探す</a>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>