<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>図書検索エンジン</title>
</head>

<body>
    <header class="teal cyan lighten-3 z-depth-2">
        <div class="container">
            <a class="waves-effect waves-light btn-large" href="/">検索</a>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="grey-text">書籍検索エンジン</h1>
            <div class="card-panel">
                <form action="/serch" method="POST">
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="book_name" type="text" name="book_name">
                                <label for="book_name">タイトル</label>
                            </div>
                            <div class="input-field">
                                <input id="creator_name" type="text" name="creator_name">
                                <label for="creator_name">著者名</label>
                            </div>
                            <div class="input-field">
                                <input id="publisher_name" type="text" name="publisher_name">
                                <label for="publisher_name">出版社</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <select name="mediatype">
                                    <option value="0" selected>すべて</option>
                                    <option value="1">本</option>
                                    <option value="2">記事・論文</option>
                                    <option value="3">新聞</option>
                                    <option value="4">児童書</option>
                                    <option value="5">レファレンス情報</option>
                                    <option value="6">デジタル資料</option>
                                    <option value="7">その他</option>
                                    <option value="8">障害者向け資料</option>
                                    <option value="9">立法情報</option>
                                </select>
                                <label>ジャンル</label>
                            </div>
                            <div class="col m6 s12">
                                <p class="range-field">
                                    <label for="book_cnt">検索数</label>
                                    <input type="range" min="1" max="500" value="20" d="cnt" name="range">
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn-large">検索</button>
                </form>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(function() {
            $(document).ready(function() {
                $('select').formSelect();
            });
        });
    </script>
</body>

</html>